/* start */
.que_text{
    font-size: 25px;
    font-weight: 600;

}
.option_list{
padding: 20px 0;
display:block;
}
.option_list .option{
    background: aliceblue;
    border: 1px solid;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.start_btn{
    font-size: 25px;
    font-weight:500;
    color: #007bff;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}