/* start */
.que-text{
    font-size: 25px;
    font-weight: 600;

}
.option-list{
padding: 20px 0;
display:block;
}
.option-list .option{
    background: aliceblue;
    border: 1px solid;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.result-box{
    display: none;
}
.high-scores{
    display: none;
}

.starting{
    text-align: center;
    font-size:larger;
}
.starting .intro{
    font-size: larger;
    font-weight: 400;
}
.time-clock{
    text-align: right;
    font-size:larger;
    font-weight: 400;
    padding: 25px;
    display:block;
}

.quiz-box{
    display:block;
    width: 550px;
    border-radius: 5px;
}
.buttons {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}